.root {
    -fx-background-color: #2b2b2b;
    -fx-font-family: 'Segoe UI', sans-serif;
}

.label {
    -fx-text-fill: #e0e0e0;
    -fx-font-size: 14px;
}

.title-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #4CAF50; /* Vert Néon */
    -fx-padding: 20;
}

.button {
    -fx-background-color: #3f3f3f;
    -fx-text-fill: white;
    -fx-border-color: #4CAF50;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #4CAF50;
    -fx-text-fill: black;
}

.text-field {
    -fx-background-color: #3f3f3f;
    -fx-text-fill: white;
    -fx-border-color: #666;
    -fx-border-radius: 3;
}

.list-view {
    -fx-background-color: #333;
    -fx-control-inner-background: #333;
}

.list-cell:filled:selected, .list-cell:filled:hover {
    -fx-background-color: #4CAF50;
    -fx-text-fill: black;
}

.list-cell {
    -fx-text-fill: white;
    -fx-padding: 10;
}